.container{
    height: 500px;
    border: dashed 2px cornflowerblue;
}

.circle{
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
    background-color: cornflowerblue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}